h1{
    color: rgb(255, 0, 55);
    text-align: center;
    font-size: 70pt;
    font-family: "rothwood", serif;
    font-weight: 900;
    font-style: normal;
}

main{
    text-align: center;
    color: chartreuse;
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: black;
}

.person{
    color: gold;
    font-weight: bold;
}

.doing{
    font-size: 20pt;
    font-style: italic;
}

.section{
    padding: 50px;
}